<app-navbar></app-navbar>
<div class="container">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQNMY8h3ev_6MzR6dy99D0izse96ajjnaVuN9OXLJC4u504WUqHfZClWIoWVtenL03WV0aWRZuLVuCmPDZ3-aqEHw" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Aguada Rocky Beach</h5>
          <p> It became the most prized fortress for the Portuguese back in the seventeenth century.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.thegoavilla.com/image/CID_0300_2537e1010017b23a43ae629708487090.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Reis Magos Fort</h5>
          <p>This Fort stands on the north bank of the Mandovi at Reis Magos, and is very much visible from the Panjim side of the Mandovi river.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcTBcYWV5Zp578e68ornLcvKm7G0isB2JNB4p_aFSI-8jN4eXpsa7nKcR_Vh-urMpoKQ0X_mgOT_3NvF9P6n6lOClg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Baga Beach</h5>
          <p>Baga a seaside town in Bardez, Goa, India. It comes under the jurisdiction of Calangute, which is 2 km south.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcTBcYWV5Zp578e68ornLcvKm7G0isB2JNB4p_aFSI-8jN4eXpsa7nKcR_Vh-urMpoKQ0X_mgOT_3NvF9P6n6lOClg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Baga Beach</h5>
          <p>Baga a seaside town in Bardez, Goa, India. It comes under the jurisdiction of Calangute, which is 2 km south.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcTBcYWV5Zp578e68ornLcvKm7G0isB2JNB4p_aFSI-8jN4eXpsa7nKcR_Vh-urMpoKQ0X_mgOT_3NvF9P6n6lOClg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Baga Beach</h5>
          <p>Baga a seaside town in Bardez, Goa, India. It comes under the jurisdiction of Calangute, which is 2 km south.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="alert alert-info mt-4" role="alert">
    <h2 class="mb-0">Goa Top sights</h2>
  </div>

  <div class="row ">
    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://www.makemytrip.com/travel-guide/media/dg_image/goa/13_Arambol-Beach.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Anjuna Beach</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRzpTyHwXhkv-Jc2186TfLAyJvg7DsO2Xxd3o1_9iNZh-IPubN8hKa9xmjaNlihlndKeKaB_jODVlt9Cvdn1U-h5Q" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Immaculate Conception Church</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcTnYkxvTMumvCJ2SDjvjS8Af8qyoL8AR1kqk_dwCVBGqWfrcAoHK6gXX8_Iorgay1MNaQ4TnUrL1qZV27RJf5vS9g" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Aguada Fort</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUaOWPMxwjrW4CeUf_4u_mZxWy-KMRXx5lldKKNXqNLPNQhzwggbgHSNxWxG46IWl-_w9xmAPZsryMRMfZc0NePQ" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Palolem Beach</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcRfnk6S6awHR4iTiDMbS6VXLkCIrMsPykNpHm7AhxDdFp75EsAX4tyYGFi8Gqb0CkObrIVDOsqo3cBH5NR5KamJjA" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Sri Mahadeva Temple Tambdisurla</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQXqRD7d_l-xuYTe8Nlt26KPjzYjpxhJHqAieJBZZxpx6TPTI0fLLAmC1SL7e6ubFYfIyk6MHR5ks8DjlmP5T-NTQ" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Three Kings Chapel</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRTRbTemcK6B0TwCHKR90tfA8C4Gn6XULEUz01ABBhsf29VJ3DrICrUTOPj8OF5_GZR3hw24wCkjOy-TdnUZHevnQ" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Sinquerim Fort</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card" >
        <img src="https://www.makemytrip.com/travel-guide/media/dg_image/goa/13_Arambol-Beach.jpg" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h5 class="card-title d-inline">Arambol Beach</h5>
          <a href="#" class="btn btn-primary float-end">Get Info</a>
        </div>
      </div>
    </div>

  </div>
</div>
